#search-form {
    width: 30%;
    margin: 0 auto;
    position: relative;
  }
  #search-form input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 2px;
  }
  #search-form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1.75rem;
    cursor: pointer;
    color:black;
  }
  .info {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
  }
  
  @media (max-width: 1200px) {
    #search-form { width: 50%; }
  }
  @media (max-width: 768px) {
    .container { padding: 30px 35px; }
    #search-form { width: 100%; }
    .info { font-size: 0.5rem; }
  }
  #add-form {
    width: 30%;
    margin: 0 auto;
    position: relative;
  }
  #add-form input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 2px;
  }
  #add-form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1.75rem;
    cursor: pointer;
    color:black;
  }
  
  @media (max-width: 1200px) {
    #add-form { width: 50%; }
  }
  @media (max-width: 768px) {
    .container { padding: 30px 35px; }
    #add-form { width: 100%; }
    .info { font-size: 0.5rem; }
  }