<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Speech Detection</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="mine.css" />
  
<style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #025677;
    color: #fff;
  }
  .container {
    padding: 30px 50px;
  }
  
    </style>
    </head>
<body>

<div class="container">
    <form action="localhost:5000/voice" method="POST" target="_blank" id="search-form">
      <input name="q" type="text" placeholder="Search Google..." autocomplete="off" autofocus>
      <!-- <button type="button"><i class="fas fa-microphone"></i></button> -->
      <!-- <button onclick="">Submit</button> -->
    </form>
    <p class="info"></p>
  </div>
 
  <script src="voice.js"></script>
  
  
  </body>
  </html>

 