<!-- Voice add Modal -->
<div class="modal fade" id="myAdd_btn" tabindex="-1" role="dialog" aria-labelledby="myAdd_btn" aria-hidden="true">
    <div class="agilemodal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Click to Speak Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-3 pb-5 px-sm-5">
                {% for i in data.index %}
                <form action="/add/{{data['uniq_id'][i]}}/{{qty}}" method="POST"  id="add-form">
                  <input name="add_query" type="text" placeholder="Speak to add" autocomplete="off" autofocus>
                </form>
                {% endfor %}
                <p class="info1"></p>
              </div>
        </div>
    </div>
</div>
<script>
    const addForm = document.querySelector("#add-form");
const addFormInput = addForm.querySelector("input"); // <=> document.querySelector("#add-form input");
const info1 = document.querySelector(".info1");

// The speech recognition interface lives on the browser’s window object
const SpeechRecognition1 = window.SpeechRecognition || window.webkitSpeechRecognition; // if none exists -> undefined

if(SpeechRecognition1) {
console.log("Your Browser supports speech Recognition");

const recognition1 = new SpeechRecognition1();
recognition1.continuous = false;
// recognition.lang = "en-US";

addForm.insertAdjacentHTML("beforeend", '<button type="button"><i class="fas fa-microphone"></i></button>');
addFormInput.style.paddingRight = "50px";

const micBtn1 = addForm.querySelector("button");
const micIcon1 = micBtn1.firstElementChild;

micBtn1.addEventListener("click", micBtn1Click);
function micBtn1Click() {
if(micIcon1.classList.contains("fa-microphone")) { // Start Voice Recognition
  recognition1.start(); // First time you have to allow access to mic!
}
else {
  recognition1.stop();
}
}

recognition1.addEventListener("start", startSpeechRecognition1); // <=> recognition.onstart = function() {...}
function startSpeechRecognition1() {
micIcon1.classList.remove("fa-microphone");
micIcon1.classList.add("fa-microphone-slash");



addFormInput.focus();
console.log("Voice activated, SPEAK");
}

recognition1.addEventListener("end", endSpeechRecognition1); // <=> recognition.onend = function() {...}
function endSpeechRecognition1() {
micIcon1.classList.remove("fa-microphone-slash");
micIcon1.classList.add("fa-microphone");
addFormInput.focus();
console.log("Speech recognition service disconnected");
}

recognition1.addEventListener("result", resultOfSpeechRecognition1); // <=> recognition.onresult = function(event) {...} - Fires when you stop talking
function resultOfSpeechRecognition1(event) {
const current1 = event.resultIndex;
const transcript1 = event.results[current1][0].transcript;

if(!addFormInput.value) {
  addFormInput.value = transcript1;
}

if(addFormInput.value){
    addForm.submit();
}

}

}
else {
console.log("Your Browser does not support speech Recognition");
info1.textContent = "Your Browser does not support Speech Recognition";
}
</script>